<?xml version="1.0" encoding="utf-8"?>
<Content Key="5a740b1d-468a-4bcb-95bd-8b8eddcb5921" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-03-04T22:16:49</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <headline>
      <Value><![CDATA[Hello Clippy! 📎]]></Value>
    </headline>
  </Properties>
</Content>